/* reset styles */
html, body, div, span, label{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	line-height: 1;
}
/* end of reset */
html,body {
	min-height: 100%;
}
body {
	height: 100%;
	background: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.js-vhidden {
	visibility: hidden
}
.metamorphosis {
	border: transparent
}
.term {
	outline:none;
	width:16px;
	height:20px;
	padding:2px;
	border-radius:4px;
	text-align:center;
}
.term.error {
	color: red;
}
.term:disabled {
	background: transparent;
}
.term::placeholder{
	font-size:1em;
	color:#000;
}
#CalcAndDraw {
	margin-left: auto;
	margin-right: auto;
	padding: 64px 0 0;
	text-align: center;
}
#scale {
	position:relative;
	margin:0 auto;
	height: 85px;
	background: url(../img/sprite.png) center bottom no-repeat transparent;
	/* gradient from #fff9d1 to #f7eacd */
	width:875px;
}
#scale .term {
	position: absolute;
	margin-top:-34px;
	margin-left:47%;
	z-index:2;
}
/* todo good */
#formula span {
	display:inline-block;
	padding:2px;
	border-radius: 2px;
}
#formula span.error {
	background-color:#ffc800;
}
#formula {
	height:123px;
}
#formula .term {
	font-size:1em;
	width:24px;
}
.number6, .number7, .number8, .number9, .number10, .number11, .number12, .number13, .number14 {
	position:absolute;
	background: transparent;
	/*height:1px;*/
	left:35px;
}
.no-svg .number6:after, .no-svg .number7:after, .no-svg .number8:after, .no-svg .number9:after, .no-svg .number10:after, .no-svg .number11:after, .no-svg .number12:after, .no-svg .number13:after, .no-svg .number14:after{
	position:absolute;
	content:'\2798';
	color: #da2f59;
	top:3px;
	right:0;
	font-size:20px;
	/*transform: rotate(36deg);*/
}
.number6{
	/*left:20px;*/
	width:235px;
}
.number7 {width: 274px;}
.number8 {width: 310px;}
.number9 {width: 352px;}
.number10{width: 390px;}
.number11{width: 430px;}
.number12{width: 469px;}
.number13{width: 506px;}
.number14{width: 547px;}

.halfclip {
	stroke:#da2f59;
	fill:transparent;
	clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 0% 49%)
}